<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include google_analytics.html %}
    {% include blog_header.html %}

<div class="home">

  <section>
    <div class="container">

        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <h2>{{ page.title }}</h2>
          </div>
        </div>

        <div class="row" style="margin-top: 30px;">
          <div class="col-xs-offset-1 col-xs-10">
            <img src="/img/{{ page.img }}" class="img-responsive img-thumbnail" alt="" align="left"
                style="margin-right: 30px; margin-bottom: 20px;" />
            {{ content }}
          </div>
        </div>

    </div>
  </section>

</div>

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>